<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281303160710-bo8ghn1rjvua21q3gn9pekbf8084n1il.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281303160710-bo8ghn1rjvua21q3gn9pekbf8084n1il</string>
	<key>API_KEY</key>
	<string>AIzaSyAuSA86PMijRv3bbVj7C-NrreQdYLT7pyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>281303160710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.handy</string>
	<key>PROJECT_ID</key>
	<string>chat-handy</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-handy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281303160710:ios:13874169fc12140776be07</string>
</dict>
</plist>